


@media (prefers-color-scheme: light) {
  :root {
    color: #212124;
    background-color: #ffffff;
  }
  button:hover {
    color: #141716;
  }
  button{
    background-color:rgba(19, 172, 243, 0.911);
    color:white;
    padding:10px;
    border-radius:5px;
    margin-top:10px;
   cursor:pointer;
   
 }
  
  nav{
    background-color:#050606;
    overflow:hidden;
}

nav a {
  float:left;
  width:auto;

  color:rgb(9, 206, 245);
  text-align:center;
  padding:14px 20px;
  text-decoration: none;
  font-size: 20px;
 
}
h1{
  color: rgb(29, 29, 232);
  text-align:center;
  font-size:40px;
}
.shopping-cart{
  color:rgb(56, 67, 67);
  text-align: center;
  h1{
    font-size:64px;
    text-align:center;
    color:#111213;
};
.ShoppingCart{
  color:#ffffff
}
}


.product-card{
  display:flex;
  flex-direction:column;
  color:rgb(15, 14, 14);
  align-items:center;
  justify-content:'center';
  padding:20px;
  margin:20px;
  width:350px;
  content:center;
  box-shadow:rgb(2, 36, 100) 5px 10px 15px;
img{
   width:100px;
   height:100px;
 
}  


p{
  color:#676666;
}
h3{
  color:rgb(12, 12, 12);
}

}

}
